@import "./fonts/stylesheet.css"; /*** 

====================================================================
	Reset
====================================================================

***/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2b2b2b;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
}

.auto__container {
  position: relative;
  max-width: unset;
  margin: 0 auto;
  padding: 0 30px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 500;
  font-family: "Roc Grotesk", sans-serif;
  color: #2b2b2b;
}

h2 {
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
}
h2 span {
  font-size: 16px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

p.big {
  font-size: 18px;
  line-height: 22px;
}
p a {
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  color: #f05523;
}
p a:hover {
  opacity: 0.6;
}
p.center {
  text-align: center;
}

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 16px;
  line-height: 150%;
}
.button:hover {
  opacity: 0.6;
}
.button--submit {
  padding: 12px;
  background: #2b2b2b;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  font-weight: 500;
  color: #fff;
}
.button--google {
  font-weight: 400;
  padding: 12px;
  color: #2b2b2b;
  background: #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button--google img {
  width: 24px;
  margin-right: 8px;
}

.or {
  margin: 8px 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(43, 43, 43, 0.5);
}

main {
  padding-top: 81px;
}

.checkbox {
  cursor: pointer;
  position: relative;
}
.checkbox span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 51px;
  height: 31px;
  border-radius: 99px;
  background-color: rgba(120, 120, 128, 0.1607843137);
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.checkbox span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 27px;
  height: 27px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1607843137);
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}
.checkbox input:checked ~ span {
  background-color: #65c466;
}
.checkbox input:checked ~ span::before {
  -webkit-transform: translate(75%, -50%);
          transform: translate(75%, -50%);
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #2b2b2b;
  cursor: pointer;
  margin-right: 52px;
  text-transform: uppercase;
}
.radio__button {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.radio__button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #49454F;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.radio__button span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f05523;
  border-radius: 50%;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.radio__button input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}
.radio__button input:checked ~ span {
  border-color: #f05523;
}
.radio__button input:checked ~ span::before {
  opacity: 1;
}

.select {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 46px;
  z-index: 4;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.select.active .select__options {
  display: block;
}
.select__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 100%;
  color: #666666;
  padding-right: 20px;
}
.select__selected:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #666666;
  border-right: 2px solid #666666;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-70%) rotate(135deg);
          transform: translateY(-70%) rotate(135deg);
}
.select__options {
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 8px);
  right: -12px;
  min-width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
  z-index: 4;
  padding: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1607843137);
}
.select__options li {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.select__options li:hover {
  opacity: 0.8;
}

.header {
  background-color: #f05523;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 182px;
}
.header__inner-logo img {
  width: 100%;
}
.header__inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}
.header__inner a:hover {
  opacity: 0.7;
}
.header__inner a span {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.header__inner a span img {
  width: 100%;
}

.sidebar {
  background-color: #363636;
  position: fixed;
  top: 81px;
  left: 0;
  width: 220px;
  height: calc(100% - 81px);
  z-index: 99;
}
.sidebar__inner {
  padding: 22px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sidebar__inner a {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}
.sidebar__inner a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.sidebar__inner a span img {
  width: 100%;
}

.form {
  max-width: 376px;
  margin: 0 auto;
  width: 100%;
}
.form__header {
  margin-bottom: 32px;
}
.form legend {
  font-family: "Roc Grotesk", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #2b2b2b;
  margin-bottom: 4px;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}
.form .button {
  width: 100%;
}
.form .button--google {
  margin-bottom: 24px;
}

.input {
  position: relative;
}
.input__outer {
  margin-bottom: 24px;
}
.input__outer label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: block;
  margin-bottom: 8px;
  color: #959595;
}
.input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px;
  background: #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2b2b2b;
}
.input input::-webkit-input-placeholder {
  color: #959595;
  opacity: 1;
}
.input input::-moz-placeholder {
  color: #959595;
  opacity: 1;
}
.input input:-ms-input-placeholder {
  color: #959595;
  opacity: 1;
}
.input input::-ms-input-placeholder {
  color: #959595;
  opacity: 1;
}
.input input::placeholder {
  color: #959595;
  opacity: 1;
}
.input.passwordInput button {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}
.input.passwordInput button img {
  width: 100%;
}
.input.passwordInput button img.show {
  display: block;
}
.input.passwordInput button img.hide {
  display: none;
}
.input.passwordInput input {
  padding-right: 50px;
}
.input.passwordInput.active button img.show {
  display: none;
}
.input.passwordInput.active button img.hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.check {
  position: relative;
}
.check input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
.check input:checked + label::before {
  background: #f05523;
  border: 1px solid #f05523;
}
.check input:checked + label::after {
  opacity: 1;
}
.check label {
  position: relative;
  display: block;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  color: #2b2b2b;
  padding-left: 24px;
}
.check label::before {
  position: absolute;
  top: 4px;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  background: #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  content: "";
  border-radius: 3px;
}
.check label:after {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  height: 8px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.auth__inner {
  padding: 80px 30px 30px 50%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}
.auth__inner-image {
  width: calc(50% - 30px);
  left: 30px;
  top: 30px;
  height: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  overflow: hidden;
}
.auth__inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.auth__inner-form {
  padding: 0 0 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.auth__inner-logo {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30px;
  left: 75%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.auth__inner-logo img {
  width: 100%;
}

.system {
  width: calc(100% - 220px);
  padding: 30px 320px 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 auto;
  min-height: calc(100vh - 81px);
  position: relative;
}
.system__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.system__inner h1 {
  margin-bottom: 30px;
}
.system__inner > .button {
  display: none;
}
.systemItem {
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #777373;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  height: 130px;
  margin-right: 20px;
  cursor: pointer;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.systemItem:last-child {
  margin: 0;
}
.systemItem:hover {
  opacity: 0.8;
}
.systemItem.uniq.active {
  color: #333333;
}
.systemItem.uniq.active .systemItem__inner {
  background-color: #fff;
}
.systemItem.uniq.active svg.big {
  display: none;
}
.systemItem.uniq.active svg.large {
  display: block;
}
.systemItem.active {
  color: #fff;
}
.systemItem.active .systemItem__inner {
  background-color: #333333;
}
.systemItem.active svg {
  fill: #fff;
}
.systemItem__inner {
  border: 1px solid #777373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 18px;
}
.systemItem__inner-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.systemItem svg {
  fill: #333333;
  width: 12px;
  height: 24px;
}
.systemItem svg.big {
  width: 15px;
  height: 24px;
}
.systemItem svg.large {
  width: 26px;
  height: 30px;
  display: none;
}
.systemItem svg.down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.schedule {
  position: absolute;
  top: 0;
  right: 0;
  width: 323px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid #e3e3e3;
  -webkit-box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.0588235294);
          box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.0588235294);
  z-index: 9;
}
.schedule__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
}
.schedule__header-back {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}
.schedule__header-back img {
  width: 100%;
}
.schedule__header-add {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}
.schedule__header-add img {
  width: 100%;
}
.schedule__header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedule__header p {
  font-weight: 500;
  font-family: "Roc Grotesk", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedule__header p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.schedule__header p span img {
  width: 100%;
}
.schedule__header a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f05523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedule__header a.active span {
  display: none;
}
.schedule__header a.active p {
  display: none;
}
.schedule__header a.active p.done {
  display: block;
}
.schedule__header a p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f05523;
}
.schedule__header a p.done {
  display: none;
}
.schedule__header a:hover {
  opacity: 0.8;
}
.schedule__header a span {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.schedule__header a span img {
  width: 100%;
}
.schedule__inner {
  height: calc(100% - 64px);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.schedule__inner-list {
  margin-bottom: 30px;
}
.schedule__inner .button {
  margin: auto 0 0 0;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.schedule__inner .button:hover {
  opacity: 0.8;
}
.schedule__inner .button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.schedule__inner .button span img {
  width: 100%;
}
.scheduleItem {
  position: relative;
  padding: 10px 15px 10px 40px;
  border: 1px solid #efefef;
  border-radius: 5px;
  -webkit-box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.06);
          box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.scheduleItem.active .scheduleItem__content > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.scheduleItem:last-child {
  margin-bottom: 0;
}
.scheduleItem.down svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.scheduleItem__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scheduleItem__content > span {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.scheduleItem__content > span img {
  width: 100%;
}
.scheduleItem__status {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 9px;
  height: 16px;
}
.scheduleItem__status svg {
  width: 100%;
  height: 100%;
  fill: #f05523;
}
.scheduleItem h2 {
  color: #2b2b2b;
}
.scheduleItem p {
  color: #666666;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.addTime {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(88, 78, 78, 0.62);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  z-index: 99999;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.addTime.active {
  opacity: 1;
  pointer-events: all;
}
.addTime__inner {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  max-width: 403px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.0588235294);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.0588235294);
}
.addTime__inner-back {
  display: none;
}
.addTime__inner-header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}
.addTime__inner-header p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Roc Grotesk", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addTime__inner-header p.mob {
  display: none;
}
.addTime__inner-header p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.addTime__inner-header p span img {
  width: 100%;
}
.addTime__inner-header a, .addTime__inner-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f05523;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.addTime__inner-header a:hover, .addTime__inner-header button:hover {
  opacity: 0.8;
}
.addTime__inner-header a.mob, .addTime__inner-header button.mob {
  display: none;
}
.addTime__inner-header a span, .addTime__inner-header button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.addTime__inner-header a span img, .addTime__inner-header button span img {
  width: 100%;
}
.addTime__inner-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 40px 40px 40px;
}
.addTime__inner-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
  width: 100%;
  position: relative;
  z-index: 9;
}
.addTime__inner-time.repeat {
  margin-bottom: 40px;
  z-index: 7;
}
.addTime__inner-time.repeat .select {
  width: 100%;
  right: 0;
  padding: 12px;
  text-align: start;
}
.addTime__inner-time.repeat .select__selected {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #2b2b2b;
}
.addTime__inner-time.repeat .select__selected::before {
  z-index: -1;
}
.addTime__inner-time.repeat .select__options {
  padding: 10px;
}
.addTime__inner-time.repeat .select li {
  text-align: start;
  padding: 5px;
}
.addTime__inner-time .input {
  width: 240px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  border: 1px solid #d7d7d7;
  position: relative;
  border-radius: 8px;
}
.addTime__inner-time input {
  position: absolute;
  z-index: 2;
  padding: 12px;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 100%;
  font-weight: 500;
  color: #2b2b2b;
  background-color: transparent;
  outline: none;
}
.addTime__inner-time input::-webkit-calendar-picker-indicator {
  display: none;
}
.addTime__inner-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.addTime__inner > span {
  position: absolute;
  top: -40px;
  right: 0;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.addTime__inner > span:hover {
  opacity: 0.7;
}
.addTime__inner > span img {
  width: 100%;
}
.addTime__inner .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1340px) {
  .auth__inner {
    padding: 65px 15px 15px 50%;
  }
  .auth__inner-image {
    border-radius: 20px;
    top: 15px;
    left: 15px;
    width: calc(50% - 30px);
    height: calc(100% - 30px);
  }
  .auth__inner-form {
    padding-left: 20px;
  }
  .auth__inner-logo {
    top: 15px;
  }
  .form legend {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }
  .auth__inner-image {
    border-radius: 0;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }
  .system {
    padding: 20px;
  }
  .system__inner > .button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    bottom: 64px;
    right: 20px;
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    color: #2b2b2b;
    font-family: "Roc Grotesk", sans-serif;
    font-weight: 500;
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #2b2b2b;
    border-radius: 9px;
  }
  .system__inner > .button span {
    width: 18px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
  }
  .system__inner > .button span img {
    width: 100%;
  }
  .schedule {
    position: fixed;
    top: 81px;
    right: 0;
    width: 100%;
    max-width: 340px;
    height: calc(100% - 81px);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    z-index: 99;
    background-color: #fff;
  }
  .schedule.active {
    transform: translate(0, 0);
    -moz-ransform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .schedule__header-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .schedule__header-back:hover {
    opacity: 0.7;
  }
  .schedule__header p span {
    display: none;
  }
  .schedule__inner {
    height: calc(100% - 72px);
  }
}
@media (max-width: 840px) {
  .auth__inner {
    padding: 65px 30px 30px 30px;
  }
  .auth__inner-image {
    display: none;
  }
  .auth__inner-form {
    padding: 0;
  }
  .auth__inner-logo {
    left: 50%;
    top: 20px;
  }
  .form {
    max-width: 450px;
  }
  .form__header p {
    text-align: center;
  }
  .system {
    padding: 20px;
    width: 100%;
    height: calc(100vh - 72px);
  }
  .system__inner {
    padding-bottom: 120px;
    overflow-y: auto;
  }
  .system__inner h1 {
    text-align: center;
  }
  .system__inner-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .system__inner > .button {
    position: fixed;
    bottom: 84px;
    right: 16px;
    z-index: 99;
  }
  .schedule {
    height: calc(100% - 132px);
    top: 72px;
  }
  .schedule__header-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 16px;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .schedule__header-add:hover {
    opacity: 0.7;
  }
  .schedule__header a span {
    display: none;
  }
  .schedule__inner .button {
    display: none;
  }
  .header {
    width: 100%;
  }
  .header__inner {
    padding: 21px 0;
  }
  .header__inner-logo {
    width: 142px;
  }
  .sidebar {
    top: unset;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 9999;
  }
  .sidebar__inner {
    padding: 8px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar__inner a {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 10px;
    line-height: 15px;
  }
  .sidebar__inner a span {
    width: 28px;
    height: 28px;
  }
  .auto__container {
    padding: 0 16px;
  }
  main {
    padding-top: 72px;
  }
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 540px) {
  .auth__inner {
    padding: 65px 16px 16px 16px;
  }
  .form__row {
    margin-bottom: 16px;
  }
  .form__header {
    margin-bottom: 16px;
  }
  .form__header p {
    font-size: 14px;
    line-height: 21px;
  }
  .form legend {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .input__outer {
    margin-bottom: 16px;
  }
  .system__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .systemItem {
    margin: 0 0 16px 0;
    width: 108px;
    height: 108px;
    padding: 5px;
  }
  .schedule {
    max-width: unset;
  }
  .schedule__header {
    padding: 15px 16px;
  }
  .schedule__inner {
    height: calc(100% - 62px);
  }
  .addTime {
    height: calc(100% - 132px);
    top: 72px;
    background-color: #fff;
  }
  .addTime__inner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: unset;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .addTime__inner-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 32px;
  }
  .addTime__inner-back img {
    width: 100%;
  }
  .addTime__inner-header {
    padding: 15px 16px;
  }
  .addTime__inner-header p {
    display: none;
  }
  .addTime__inner-header p.mob {
    display: block;
  }
  .addTime__inner-header a {
    display: none;
  }
  .addTime__inner-header button.mob {
    display: block;
  }
  .addTime__inner-content {
    padding: 24px 16px;
  }
  .addTime__inner-content .button {
    display: none;
  }
  .addTime__inner-time .input {
    width: calc(100% - 80px);
    max-width: 260px;
  }
  .addTime__inner .radio {
    width: 50%;
    margin: 0;
  }
  .addTime__inner > span {
    display: none;
  }
}
@media (max-width: 360px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .input__outer label {
    font-size: 14px;
    line-height: 20px;
  }
  .input__outer input {
    font-size: 14px;
    line-height: 20px;
  }
  .check label {
    font-size: 14px;
    line-height: 20px;
  }
  .check label::before {
    top: 2px;
  }
  .check label:after {
    top: 4px;
  }
  .button {
    font-size: 14px;
    line-height: 20px;
  }
}